# Django Settings
SECRET_KEY=django-insecure-3lk792n+s=qq1jqrr!j9b6re%t5$(i@15&i6w(0du2^vmdmktl
DEBUG=True
ALLOWED_HOSTS=*

# AI Configuration
GROQ_API_KEY=your_groq_api_key_here

# Database URL (Render PostgreSQL)
DATABASE_URL=postgresql://adopt_o71z_user:5XesB1tGhH3rE0HqKfoKOzlnaI5z6Odk@dpg-d6kvu59aae7s73a5tv00-a.oregon-postgres.render.com/adopt_o71z
