# Django Settings
SECRET_KEY=django-insecure-3lk792n+s=qq1jqrr!j9b6re%t5$(i@15&i6w(0du2^vmdmktl
DEBUG=True
ALLOWED_HOSTS=*

# AI Configuration
GROQ_API_KEY=your_groq_api_key_here

# Database URL (Render PostgreSQL)
DATABASE_URL=postgresql://user:password@host/dbname

# Background Tasks
RUN_BACKGROUND_TASKS=False
